@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

:root[data-theme="light"] {
   --text: hsl(273, 77%, 5%);
   --background: hsl(271, 81%, 94%);
   --primary: hsl(276, 79%, 28%);
   --secondary: hsl(351, 79%, 67%);
   --accent: hsl(12, 79%, 43%);
}

:root[data-theme="dark"] {
   --text: hsl(273, 77%, 95%);
   --background: hsl(271, 81%, 6%);
   --primary: hsl(276, 79%, 72%);
   --secondary: hsl(351, 79%, 33%);
   --accent: hsl(12, 79%, 57%);
}

@theme inline {
   --font-sans: 'Open Sans', sans-serif;
   --font-display: 'Bebas Neue', sans-serif;

   --color-text: var(--text);
   --color-background: var(--background);
   --color-primary: var(--primary);
   --color-secondary: var(--secondary);
   --color-accent: var(--accent);
}


[data-barba="container"] {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   min-height: 100dvh;
   z-index: 1;
}

html.lenis, html.lenis body {
   height: auto;
}

.lenis, .lenis-smooth {
   scroll-behavior: auto !important; 
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none; 
}
